* {
   box-sizing: border-box;
}

body {
   margin-top: 15rem;
   font-family: 'Archivo Black', sans-serif;
   background: #B8FFF9;
   text-align: center;
}

.inputForm {
   position: relative;
   display: inline-block;
}

input {
   background-color: #f1f1f1;
   padding: 10px;
   font-size: 16px;
   border-radius: 4px;
}

input[type="text"] {
   background-color: #e1f6fc;
   width: 100%;
   font-family: 'Archivo Black', sans-serif;
}

input[type="submit"] {
   background-color: #42C2FF;
   color: #fff;
   cursor: pointer;
   font-family: 'Archivo Black', sans-serif;
}
